<head>
    <link href="~/css/styles.css" rel="stylesheet" />
</head>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-primary bg-gradient text-white py-4">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="py-2 text-white">Suggest a Hairstyle</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form asp-action="UploadPhoto" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label for="photo" class="form-label">Select a photo to upload:</label>
                <input type="file" name="file" id="photo" class="form-control mb-3" required />
            </div>

            <button id="upload-submit" type="submit" class="w-25 btn btn-md btn-primary mb-3">Upload Photo</button>

        </form>

        @if (ViewBag.ImageUrls != null)
        {
            <div class="mt-4">
                <h4>Size uygun saç önerilerimiz:</h4>
                <div class="d-flex flex-wrap gap-3 justify-content-center">
                    @foreach (var imageUrl in ViewBag.ImageUrls)
                    {
                        <div class="image-container text-center">
                            <img src="@imageUrl" alt="Generated Image" class="img-fluid mb-2" style="max-width: 300px; border-radius: 8px;" />
                        </div>
                    }
                </div>
            </div>
        }

        @if (ViewBag.Error != null)
        {
            <div class="alert alert-danger mt-3">
                <strong>Error:</strong> @ViewBag.Error
            </div>
        }
    </div>
</div>
