<head>
    <link href="~/css/styles.css" rel="stylesheet" />
</head>

<div class="container mt-5">
    <h1 class="text-center mb-4">Gizlilik Politikası</h1>

    <p class="text-center mb-5"  style="color: #000;">
        Web sitemizi kullanarak, kişisel verilerinizin toplanması, kullanımı ve korunmasına ilişkin prosedürleri kabul etmiş oluyorsunuz.
    </p>

    <!-- Kişisel Verilerin Toplanması -->
    <div class="card mb-3">
        <div class="card-header bg-primary text-white">
            <h5>Kişisel Verilerin Toplanması</h5>
        </div>
        <div class="card-body">
            <p>Web sitemizi ziyaret ettiğinizde, sizden bazı kişisel bilgiler toplayabiliriz. Bu bilgiler, adınız, e-posta adresiniz, telefon numaranız gibi bilgileri içerebilir. Bu bilgiler, yalnızca sitemizdeki hizmetleri sunmak amacıyla kullanılacaktır.</p>
        </div>
    </div>

    <!-- Kişisel Verilerin Kullanımı -->
    <div class="card mb-3">
        <div class="card-header bg-primary text-white">
            <h5>Kişisel Verilerin Kullanımı</h5>
        </div>
        <div class="card-body">
            <p>Topladığımız kişisel veriler, hizmetlerimizi sağlamak, kullanıcı deneyimini geliştirmek, müşteri desteği sağlamak ve gerektiğinde size pazarlama içerikleri göndermek amacıyla kullanılabilir.</p>
        </div>
    </div>

    <!-- Kullanıcı Hakları -->
    <div class="card mb-3">
        <div class="card-header bg-primary text-white">
            <h5>Kullanıcı Hakları</h5>
        </div>
        <div class="card-body">
            <p>Kişisel verilerinize ilişkin çeşitli haklarınız bulunmaktadır. Bu haklar arasında verilerinize erişim talep etme, yanlış verileri düzeltme, verilerinizi silme hakkı ve daha fazlası yer alır. Haklarınızı kullanmak için bizimle iletişime geçebilirsiniz.</p>
        </div>
    </div>

    <!-- İletişim -->
    <div class="card mb-3">
        <div class="card-header bg-primary text-white">
            <h5>İletişim</h5>
        </div>
        <div class="card-body">
            <p>Gizlilik politikamızla ilgili herhangi bir sorunuz varsa, bizimle iletişime geçebilirsiniz:</p>
            <ul>
                <li><strong>E-posta:</strong> info@berbersite.com</li>
                <li><strong>Telefon:</strong> +90 123 456 7890</li>
            </ul>
        </div>
    </div>

</div>
