@{
    ViewData["Title"] = "Ana Sayfa";
}

<h2>Hoş Geldiniz!</h2>
<p>
    <a asp-controller="Account" asp-action="Register" class="btn btn-primary">Kayıt Ol</a>
    <a asp-controller="Account" asp-action="Login" class="btn btn-secondary">Giriş Yap</a>
</p>
